[project]
	description = learning cmake
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jamin (buptjamin)
[access "refs/for/refs/*"]
	read = group user/Jamin (buptjamin)
	push = group user/Jamin (buptjamin)
	label-Code-Review = -2..+2 group user/Jamin (buptjamin)
	label-Verified = -1..+1 group user/Jamin (buptjamin)
	rebase = group user/Jamin (buptjamin)
	removeReviewer = group user/Jamin (buptjamin)
	submit = group user/Jamin (buptjamin)
[access "refs/heads/*"]
	read = group user/Jamin (buptjamin)
	create = group user/Jamin (buptjamin)
	push = +force group user/Jamin (buptjamin)
	pushMerge = group user/Jamin (buptjamin)
[access "refs/tags/*"]
	push = +force group user/Jamin (buptjamin)
	pushTag = group user/Jamin (buptjamin)
	pushSignedTag = group user/Jamin (buptjamin)
